/* ----- Blue Colors: #1e5182 #2588c9 ----- */
/*background-color: rgb(37, 136, 201);*/
/*  background-color: rgba(0, 0, 0, 0.2);*/

/*------------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------------*/

.row {
  max-width: 100%;
  margin: 0 auto;
}

/* ----- ICONS ----- */
.icon-sm {
  font-size: 80%;
  margin: 10px;
}

/* ----- HEADINGS ----- */

h2 {
  border-bottom: 2px solid #555
}

h6 {
  color: #fff;
  font-size: 80%;
  font-weight: 300;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}


/* ----- PARAGRAPHS ----- */

P {
  color: lightgray;
}

/*------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------*/

.share-items {
  background-color: #1e5182;
  list-style: none;
  width: 100%;
  margin: auto 0;
}

.share-items ul {
  float: right;
}

.share-items li {
  display: inline-block;
  margin-right: 10px;
}

.share-items li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.branding {
  background-color: #2588c9;
  width: 100%;
  margin: auto 0;
}

.logo {
  height: 77px;
  width: auto;
  float: left;
  padding-bottom: 10px
}

.logo-nav {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  padding: 2px 0;
  
}

.site-description {
  padding-left: 87.5px;
  margin: 20px auto 20px auto;
}

/*
.site-navigation .menu li a {
    color: #515659;
    display: block;

    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 23px 19px;
    text-decoration: none;
}

.menu {
  float: right;
  list-style: none;
  padding-left: 87.5px;
}
*/

/* --- Main Nav --- */
.site-navigation {
  background-color: #fff;
  list-style: none;
  width: 100%;
  margin: auto 0;
}

.site-navigation ul {
  float: right;
}

.site-navigation li {
  display: inline-block;
  margin-right: 10px;
}

.site-navigation li a:link,
.site-navigation li a:visited {
  color: #515659;
  display: block;
  font-size: 75%;
  text-transform: uppercase;
  line-height: 1;
  padding: 23px 15px;
  text-decoration: none;
  
  transition: border-bottom 0.2s;
}

.site-navigation li a:hover,
.site-navigation li a:active {
  color: #fff;
  background-color: #bdbec0
}

/* --- Mobile Nav --- */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
/*  color: #fff;*/
}

/* --- Sticky Nav --- */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .site-navigation li a:link,
.sticky .site-navigation li a:visited {
  color: #555;
/*  padding: 8px 0;*/
}

.sticky .logo-nav { display: block }

/*------------------------------------------------------*/
/* SECTIONS */
/*------------------------------------------------------*/

.main-section .row {
  background color: #b2b2b2;
}

.news-events {
  padding: 0 30px;
}

.news-events .box {
  border: 1px solid #555;
  padding: 1%;
}


